<!-- start section navbar -------------------------------------------------------->
<nav id="main-nav">
    <div class="row">
        <div class="container">

            <div class="logo">
                <a href="index.html"><img src="src/assets/img/logo2.png" alt="logo"></a>
            </div>

            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

            <ul class="nav-menu list-unstyled">
                <li><a href="#header" class="smoothScroll">Home</a></li>
                <li><a href="#about" class="smoothScroll">About</a></li>
                <li><a href="#test" class="smoothScroll">Portfolio</a></li>
                <li><a href="#portfolio" class="smoothScroll">Coding Challenges</a></li>
                <li><a href="#contact" class="smoothScroll">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- start section header -------------------------------------------------------->
<div id="header" class="home parallax">
    <div class="container">
        <div class="header-content">
            <h1 style="font-family: 'Playfair Display', serif; text-shadow: 2px 2px 2px #000;">Khumor Chang</h1>
            <ul class="list-unstyled list-social pl-3">
                <li><a target="_blank" href="https://linkedin.com/in/khumor-chang"><i class="ion-social-linkedin" style="text-shadow: 2px 2px 2px #000;"></i></a></li>
                <li><a target="_blank" href="https://github.com/mercchang"><i class="ion-social-github" style="text-shadow: 2px 2px 2px #000;"></i></a></li>
                <li><a href="#contact" class="smoothScroll"><i class="ion-android-mail" style="text-shadow: 2px 2px 2px #000;"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- section about me ----------------------------------------------------------->
<div id="about" class="paddsection" style="background-image: url('src/assets/img/back.jpg'); background-size: auto 100%;">
    <div class="container">
        <div class="section-title text-center">
            <h2 style="text-shadow: 2px 2px 2px #000;">ABOUT ME</h2>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="src/assets/img/me.jpg" class="img-responsive" alt="me">
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-descr">
                    <p class="p-heading" style="text-shadow: 2px 2px 2px #000;">I'm Khumor Chang. </p>
                    <p class="separator pl-3" style="text-shadow: 2px 2px 2px #000;">
                        I'm a web developer from Charlotte, North Carolina. I was a student at Coder Foundry and
                        also studied at Central Piedmont Community College where I acquired my A.S. degree in Electronics Engineering.
                    </p>
                </div>
                <div class="row pt-3">
                    <img class="img-fluid px-2" src="src/assets/img/badges/c.png" width="100" />
                    <img class="img-fluid px-3" src="src/assets/img/badges/html5.png" width="100" />
                    <img class="img-fluid px-3" src="src/assets/img/badges/css.png" width="100" />
                    <img class="img-fluid px-3" src="src/assets/img/badges/net.png" width="100" height="50" />
                    <img class="img-fluid px-3" src="src/assets/img/badges/sql.png" width="100" />
                    <img class="img-fluid px-3" src="src/assets/img/badges/vs.png" width="100" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section portfolio ------------------------------------------------------------>
<div id="test" class="paddsection parallax2">
    <div class="container">
        <div class="section-title text-center">
            <h2 style="text-shadow: 2px 2px 2px #000;">Portfolio</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
                        <div id="portfoliotext" style="text-shadow: 2px 2px 2px #000;">My Blog</div>
                        <a href="https://kchangblog.azurewebsites.net/">
                            <img class="contentImg" src="src/assets/img/1.jpg" alt="img">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
                        <div id="portfoliotext" style="text-shadow: 2px 2px 2px #000;">Bug Tracker</div>
                        <a href="https://kcbugtracker.azurewebsites.net/">
                            <img class="contentImg" src="src/assets/img/blog-post-1.jpg" alt="img">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
                        <div id="portfoliotext" style="text-shadow: 2px 2px 2px #000;">Financial Portal</div>
                        <a href="https://kc-financialportal.azurewebsites.net/">
                            <img class="contentImg" src="src/assets/img/blog-post-3.jpg" alt="img">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
                        <div id="portfoliotext" style="text-shadow: 2px 2px 2px #000;">Financial Portal Web API</div>
                        <a href="https://financialportalapi.azurewebsites.net/">
                            <img class="contentImg" src="src/assets/img/blog-post-2.jpg" alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section coding challenges ---------------------------------------------------->
<div id="portfolio" class="text-center paddsection" style="background-image: url('src/assets/img/back4.jpg'); background-size: auto 100%;">
    <div class="container">
        <div class="section-title text-center">
            <h2 style="text-shadow: 2px 2px 2px #000;">Coding Challenges</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
                        <div id="portfoliotext" style="text-shadow: 2px 2px 2px #000;">Factorial</div>
                        <a href="src/assets/img/2.jpg" data-toggle="modal" data-target="#Modal2">
                            <img class="contentImg" src="src/assets/img/1.jpg" alt="img">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding webdesign photography">
                        <div id="portfoliotext" style="text-shadow: 2px 2px 2px #000;">Fizz Buzz</div>
                        <a href="src/assets/img/3.jpg" data-toggle="modal" data-target="#Modal3">
                            <img class="contentImg" src="src/assets/img/img-fb.jpg" alt="img">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups webdesign photography">
                        <div id="portfoliotext" style="text-shadow: 2px 2px 2px #000;">Palindrome</div>
                        <a href="src/assets/img/img-pal.jpg" data-toggle="modal" data-target="#Modal4">
                            <img class="contentImg" src="src/assets/img/img-pal.jpg" alt="img">
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits webdesign">
                        <div id="portfoliotext" style="text-shadow: 2px 2px 2px #000;">Math Calculations</div>
                        <a id="port1" href="src/assets/img/img-numpad.jpg" data-toggle="modal" data-target="#Modal1">
                            <img class="contentImg" src="src/assets/img/img-numpad.jpg" alt="img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section contact --------------------------------------------------------->
<div id="contact" class="paddsection parallax3">
    <div class="container">
        <div class="contact-block1">
            <div class="row">

                <div class="col-lg-6">
                    <div class="contact-contact">
                        <h2 class="mb-30" style="text-shadow: 2px 2px 2px #000;">GET IN TOUCH</h2>
                    </div>
                </div>
                <!--------Contact Form---------->
                <div class="col-lg-6">
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="row">

                            <div id="sendmessage" style="text-shadow: 2px 2px 2px #000;">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>

                            <div class="col-lg-6">
                                <div class="form-group contact-block1">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:2" data-msg="Please enter at least 2 characterss" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="fromEmail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="emailSubject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message" id="emailMsg"></textarea>
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-defeault btn-send" value="Send message" id="emailsubmit">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------Factorial------------------------------------>
<div class="modal fade" id="Modal2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Factorial</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        The factorial of a number is the product of a number and all the numbers below it.
                    </div>
                    <hr />
                    <div class="row">
                        Enter a positive number:
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <div class="col-md-2"><input id="nfact" placeholder="Enter a number"></div>
                        </div>
                        <div class="col">
                            <p id="res"></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-4" style="align-content:center"><button id="factbtn" class="btn btn-p">Enter</button></div>
                        <div class="col-4" style="align-content:center"><button href="#scfact" class="btn btn-p" data-toggle="collapse">Show Code</button></div>
                        <div class="col-4" style="align-content:center"><button id="clearfact" class="btn btn-p">Clear</button></div>
                    </div>
                    <div class="collapse" id="scfact">
                        <pre class="brush: js" style="width:auto">
                            $("#factbtn").click(function () {
                                var fnum = +$("#nfact").val();
                                var fact = 1;

                                for (let i = 1; i <= fnum; i++) {
                                    fact *= i;
                                }

                                $("#res").text(fact);
                            });
                        </pre>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!--------------------------Fizz Buzz--------------------------------------------->
<div class="modal fade" id="Modal3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Fizz Buzz</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        Finds the multiples of the numbers that are entered and prints it out as fizz, buzz, or fizz-buzz if both numbers share the same multiple.
                    </div>
                    <hr />
                    <div class="row">
                        Enter two numbers between 1 to 100.
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <div class="col-md-2"><input id="fbuzz1" type="text" placeholder="Fizz number..."></div>
                            <div class="col-md-2"><input id="fbuzz2" type="text" placeholder="Buzz number..."></div>
                        </div>

                        <div class="col">
                            <p id="fbresult"></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col"><button id="fbuzzbtn" class="btn btn-p">Click Here</button></div>
                        <div class="col" style="align-content:center"><button href="#scfb" class="btn btn-p" data-toggle="collapse">Show Code</button></div>
                        <div class="col" style="align-content:center"><button id="clearfb" class="btn btn-p">Clear</button></div>
                    </div>
                </div>
                <div class="collapse" id="scfb">
                    <pre class="brush: js" style="width:auto">
                        $("#fbuzzbtn").click(function () {
                            let fbArray = new Array();

                            var fb1 = +$("#fbuzz1").val();
                            var fb2 = +$("#fbuzz2").val();
                            var fizz = 0, buzz = 0;

                            for (let i = 1; i <= 100; i++) {
                                fizz = i % fb1;
                                buzz = i % fb2;
                                if (fizz == 0 && buzz == 0) {
                                    fbArray.push("Fizz-Buzz");
                                }
                                else if (fizz == 0) {
                                    fbArray.push("Fizz");
                                }
                                else if (buzz == 0) {
                                    fbArray.push("Buzz");
                                }
                                else {
                                    fbArray.push(` ${i}`);
                                }

                                fbArray.join(',');
                            }
                            $("#fbresult").text(fbArray);

                        });
                    </pre>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!---------------------------Palindrome------------------------------------------->
<div class="modal fade" id="Modal4">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Palindrome</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        A Palindrome is a word that is spelled the same forwards as it is backwards.
                    </div>
                    <hr />
                    <div class="row">
                        Enter a word:
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <div class="col-md-2"><input id="palinput" placeholder="Enter..."></div>
                        </div>
                        <div class="col">
                            <p id="resultpal"></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col"><button id="palbtn" class="btn btn-p">Enter</button></div>
                        <div class="col" style="align-content:center"><button href="#scp" class="btn btn-p" data-toggle="collapse">Show Code</button></div>
                        <div class="col" style="align-content:center"><button id="clearpal" class="btn btn-p">Clear</button></div>
                    </div>

                </div>
                <div class="collapse" id="scp">
                    <pre class="brush: js" style="width:auto">
                    $("#palbtn").click(function () {
                        var pal = $("#palinput").val();
                        var result;

                        let wordArray = pal.split('');          // converts to array
                        let revArray = wordArray.reverse('');   // reverses word
                        result = revArray.join('');             // stores reversed word into string

                        if (pal === result) {                   // compare reversed string to original
                            $("#resultpal").text(pal + " is a palindrome!");
                        } else {
                            $("#resultpal").text(pal + " is not a palindrome.");
                        }

                    });
                </pre>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-------------------------------Math------------------------------------------>
<div class="modal fade" id="Modal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Math Calculations</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        Calculates the largest number, smallest number, sum, product, and mean of 5 numbers.
                    </div>
                    <hr />
                    <div class="row">
                        Enter 5 numbers:
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-2"><input id="num1" placeholder="Number 1"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><input id="num2" placeholder="Number 2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><input id="num3" placeholder="Number 3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><input id="num4" placeholder="Number 4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><input id="num5" placeholder="Number 5"></div>
                            </div>

                        </div>
                        <div class="col">
                            <p id="result"></p>
                        </div>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="col" style="align-content:center"><button id="Sumbtn" class="btn btn-p">Enter</button></div>
                        <div class="col" style="align-content:center"><button href="#scmath" class="btn btn-p" data-toggle="collapse">Show Code</button></div>
                        <div class="col" style="align-content:center"><button id="clearmath" class="btn btn-p">Clear</button></div>
                    </div>
                    <br />
                    <div class="collapse" id="scmath">
                        <pre class="brush: js" style="width:auto">
                            $("#Sumbtn").click(function () {
                                var num1 = +$("#num1").val();
                                var num2 = +$("#num2").val();
                                var num3 = +$("#num3").val();
                                var num4 = +$("#num4").val();
                                var num5 = +$("#num5").val();
                                var sum, product, output, mean, largest, smallest;

                                // smallest number
                                smallest = Math.min(num1, num2, num3, num4, num5);
                                //largest number
                                largest = Math.max(num1, num2, num3, num4, num5);
                                //mean
                                mean = (num1 + num2 + num3 + num4 + num5) / 5;
                                //sum
                                sum = num1 + num2 + num3 + num4 + num5;
                                //product
                                product = num1 * num2 * num3 * num4 * num5;

                                output = "small: " + smallest + ", large: " + largest + ", sum: " + sum + ", product: " + product + ", mean: " + mean;

                                $("#result").text(output);
                            });
                        </pre>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="closemodals" type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------- start section footer -------------------------------------->
<div id="footer" class="text-center">
    <div class="container">
        <div class="credits">
            <!--<p>&copy; Copyrights Folio. All rights reserved.</p>-->
            <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>. Modified by Khumor Chang.
        </div>
    </div>
</div>
<!-- End section footer -->


